/* This is a function for icons position*/
.contextMenu {
  width: 175px;
}
.contextMenu .contextMenu-icon {
  background-image: url(../images/icons.png);
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 2px;
}
.contextMenu .contextMenu-icon-empty {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 2px;
}
.contextMenu .link-disable {
  opacity: 0.4;
  background: none;
  cursor: default;
  border-color: white;
}
.contextMenu .icon-insert-comment {
  background-position: 0px -4016px;
}
.contextMenu .icon-edit-comment {
  background-position: 0px -3984px;
}
.contextMenu .icon-delete-comment {
  background-position: 0px -3968px;
}
.contextMenu .icon-format-comment {
  background-position: 0px -4000px;
}
.contextMenu .icon-cut {
  background-position: 0px -768px;
}
.contextMenu .icon-copy {
  background-position: 0px -752px;
}
.contextMenu .icon-paste {
  background-position: 0px -2048px;
  margin-left: 5px;
  margin-top: 3px;
}
.contextMenu .icon-sortAToZ {
  background-position: 0px -2800px;
}
.contextMenu .icon-sortZToA {
  background-position: 0px -2816px;
}
.contextMenu .contextMenu-paste-icon {
  background-size: 100% 100%;
  height: 23px;
  width: 21px;
  display: inline-block;
}
.contextMenu .icon-paste-all {
  background-image: url("../images/paste_all.png");
}
.contextMenu .icon-paste-formula {
  background-image: url("../images/psate_formula.png");
}
.contextMenu .icon-paste-value {
  background-image: url("../images/paste_value.png");
}
.contextMenu .icon-psate-format {
  background-image: url("../images/psate_format.png");
}
.contextMenu .icon-formatCells {
  background-position: 0px -1248px;
}
.contextMenu .icon-protectsheet {
  background-position: 0px -2176px;
}
.contextMenu .contextMenu-slicer-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 2px;
}
.contextMenu .icon-slicer-remove {
  background: transparent;
  color: darkblue;
  font-size: 15px;
}
.contextMenu .icon-slicer-size {
  background-image: url("../images/slicer_height.png");
  background-size: 100% 100%;
}
.contextMenu .icon-slicer-settings {
  background-image: url("../images/slicer_setting.png");
  background-size: 100% 100%;
}
.contextMenu .sub-menu {
  width: 120px;
}
.contextMenu #sheet-menu {
  width: 175px;
  z-index: 1000;
}
.contextMenu #tabstrip-menu {
  z-index: 1000;
}
.contextMenu #slicer-menu {
  z-index: 1000;
}
.contextMenu .paste-option-text {
  height: 26px;
  background-color: #eeeeee;
}
.contextMenu .paste-option-li {
  padding-top: 2px;
}
.contextMenu .paste-option-menu {
  display: block;
  padding-left: 24px;
  border: none;
}
.contextMenu .paste-option-menu li {
  display: inline-block;
  width: 26px;
}
.contextMenu .paste-option-menu li a {
  padding: 0;
}
