/* This is a function for icons position*/
.ztree li span.button.add {
  margin-left: 2px;
  background-position: -144px 0;
  vertical-align: top;
  /**vertical-align: middle;*/
}
.ztree li span.button.options {
  background: url(../../images/icons.png);
  width: 16px;
  height: 16px;
  background-position: 0px -2576px;
  vertical-align: top;
  /**vertical-align: middle;*/
  background-color: lightgrey;
  border-radius: 10px;
}
.ztree li span.button.schema-type-button {
  background: url(../../images/icons.png);
  width: 16px;
  height: 16px;
  vertical-align: top;
  /**vertical-align: middle;*/
}
.ztree li span.button.checkbox-icon {
  background-position: 0px -3728px;
}
.ztree li span.button.table-icon {
  background-position: 0px -3376px;
}
.ztree li span.button.hyperlink-icon {
  background-position: 0px -3696px;
}
.ztree li span.button.combox-icon {
  background-position: 0px -3712px;
}
.ztree li span.button.button-icon {
  background-position: 0px -3680px;
}
.ztree li span.button.text-icon {
  background-position: 0px -1152px;
}
.slider-panel-guidesline {
  height: 100%;
  border: 1px dashed;
  position: absolute;
  display: none;
}
